/* Global */
:root {
  /* App Colors */
  --color-main: var(--color-palegreen);
  --color-main-variant: var(--color-lightgreen);
  --color-point: var(--color-green);
  --color-point-varient: var(--color-gray);
  --color-text: var(--color-black);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #020702;
  --color-gray: #c6c6c6;
  --color-green: #00754b;
  --color-palegreen: #6a9a8b;
  --color-lightgreen: #c8fcea;

  /* Background */

  /* Size */
  --size-max-width: 1200px;

  /* Font Size */
  --font-big: 3rem;
  --font-middle: 2rem;
  --font-small: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

/* Header */
.header {
  background-color: var(--color-main);
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__nav__list {
  display: flex;
}

/* Main */

/* Home */

/* About */

/* Skills */

/* Projects */

/* Arrow up */

/* Footer */
